NEXT_PUBLIC_WALLET_PRIVATE_KEY=
NEXT_PUBLIC_RPC_PROVIDER_URL=https://aeneid.storyrpc.io
NEXT_PUBLIC_WALLET_ADDRESS=0x

NEXT_PUBLIC_PINATA_JWT=
NEXT_PUBLIC_ELIZA_CHARACTER_FILE=https://bafybeiamlg3oti3lluras3dwtutcph5a7zgcywfcvrd72cmeucituq7sxy.ipfs.w3s.link/eliza.character.json
NEXT_PUBLIC_ELIZA_CHARACTER_HASH=bafkreicvjm4gt4jari46rahjqbqllsuqhrz3cnqlulejsmk4lpqoftbxe4